<h1 style="text-align: center"><i>UPSC ANALYSIS</i></h1>
<h2>Prelims</h2>
<div class="container row">
  <div class="col"><ul>
  <li><a routerLink="/upsc/polity">Polity</a></li>
  <li><a routerLink="/upsc/geography">Geography</a></li>
  <li>
    <a routerLink="/upsc/history">History (Ancient, Medieval and Modern)</a>
  </li>
  <li>
    <a routerLink="/upsc/environmentandecology">Environment and Ecology</a>
  </li>
  <li><a routerLink="/upsc/artandculture">Art and Culture</a></li>
  <li><a routerLink="/upsc/economy">Economy</a></li>
  <li><a routerLink="/upsc/scienceandtechnology">Science and Technology</a></li>
</ul></div>
</div>
<div class="container">
   <iframe sandbox="allow-popups allow-scripts allow-modals allow-forms allow-same-origin" style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=bhmart0df-21&language=en_IN&marketplace=amazon&region=IN&placement=B07FZZHLC9&asins=B07FZZHLC9&linkId=d5b50f2e33cba871730183c970d7a5ff&show_border=true&link_opens_in_new_window=true"></iframe>
   <iframe sandbox="allow-popups allow-scripts allow-modals allow-forms allow-same-origin" style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=bhmart0df-21&language=en_IN&marketplace=amazon&region=IN&placement=B00QNSDZ6O&asins=B00QNSDZ6O&linkId=ccea7c8c0d457e1948b25807cfba572e&show_border=true&link_opens_in_new_window=true"></iframe>
   <iframe sandbox="allow-popups allow-scripts allow-modals allow-forms allow-same-origin" style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=bhmart0df-21&language=en_IN&marketplace=amazon&region=IN&placement=B073QW5F63&asins=B073QW5F63&linkId=7cc2cb5fab451f88c55d4899b7a4370f&show_border=true&link_opens_in_new_window=true"></iframe>
</div>
<router-outlet></router-outlet>
