<h1 style="text-align: center"><i>UPSC ANALYSIS</i></h1>
<h2>Prelims</h2>
<ul>
  <li><a routerLink="/upsc/polity">Polity</a></li>
  <li><a routerLink="/upsc/geography">Geography</a></li>
  <li>
    <a routerLink="/upsc/history">History (Ancient, Medieval and Modern)</a>
  </li>
  <li>
    <a routerLink="/upsc/environmentandecology">Environment and Ecology</a>
  </li>
  <li><a routerLink="/upsc/artandculture">Art and Culture</a></li>
  <li><a routerLink="/upsc/economy">Economy</a></li>
  <li><a routerLink="/upsc/scienceandtechnology">Science and Technology</a></li>
</ul>
<router-outlet></router-outlet>
