<h1 style="text-align: center"><i>UPSC ANALYSIS</i></h1>
<h2>Prelims</h2>
<div class="container row">
  <div class="col"><ul>
  <li><a routerLink="/upsc/polity">Polity</a></li>
  <li><a routerLink="/upsc/geography">Geography</a></li>
  <li>
    <a routerLink="/upsc/history">History (Ancient, Medieval and Modern)</a>
  </li>
  <li>
    <a routerLink="/upsc/environmentandecology">Environment and Ecology</a>
  </li>
  <li><a routerLink="/upsc/artandculture">Art and Culture</a></li>
  <li><a routerLink="/upsc/economy">Economy</a></li>
  <li><a routerLink="/upsc/scienceandtechnology">Science and Technology</a></li>
</ul></div>
  <div class="col"><iframe sandbox="allow-popups allow-scripts allow-modals allow-forms allow-same-origin" style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=bhmart0df-21&language=en_IN&marketplace=amazon&region=IN&placement=B073QW5F63&asins=B073QW5F63&linkId=241171837ec43b7533c52ea6aa71d57e&show_border=true&link_opens_in_new_window=true"></iframe></div>
</div>

<router-outlet></router-outlet>
