<div class="container">
  <h2>
    UPSC Prelims
    <span style="border-bottom: 3px solid black"
      ><b>History (Ancient, Medieval and Modern)</b></span
    >
    Previous Year Questions Analysis (2013-2021)
  </h2>
  <div class="table-responsive">
    <table class="table table-bordered border-primary caption-top">
      <caption>
        Number of Questions out of 100
      </caption>
      <thead class="table-dark">
        <tr>
          <th scope="col">Year</th>
          <th scope="col">no of questions</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr>
          <td>2013</td>
          <td>8</td>
        </tr>
        <tr>
          <td>2014</td>
          <td>7</td>
        </tr>
        <tr>
          <td>2015</td>
          <td>11</td>
        </tr>
        <tr>
          <td>2016</td>
          <td>10</td>
        </tr>
        <tr>
          <td>2017</td>
          <td>6</td>
        </tr>
        <tr>
          <td>2018</td>
          <td>15</td>
        </tr>
        <tr>
          <td>2019</td>
          <td>12</td>
        </tr>
        <tr>
          <td>2020</td>
          <td>12</td>
        </tr>
        <tr>
          <td>2021</td>
          <td>16</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
